body{
    background-color:rgb(125, 255, 125);
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
}
.dark-mode {
    background-color: black;
    color: white;
  }
.imagelep{
    width: 250px;
    height:250px;
    display:block

}
  